#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 3.75rem;
  font-weight: 500;
  margin: 3rem 0;
} 

.title-main {
  font-size: 5rem;
  font-weight: 600;
  margin: 4rem 0;
}

.subtitle {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 2rem 0;
}